{
  "swagger" : "2.0",
  "info" : {
    "description" : "VMware Cloud Foundation is an integrated software stack that bundles the VMware virtualization and management components like compute virtualization (vSphere), storage virtualization (vSAN), network virtualization (NSX), and cloud management (vRealize Suite). VCF consists of Cloud Builder - that automates the bringup of the management infrastructure and SDDC Manager - that automates the workload domain management, lifecycle and operations. This API reference guide covers APIs of both Cloud Builder and SDDC Manager",
    "version" : "4.5.2",
    "title" : "VMware Cloud Foundation API Reference Guide",
    "termsOfService" : "http://www.vmware.com/",
    "contact" : {
      "name" : "http://www.vmware.com/"
    },
    "license" : {
      "name" : "VMware Cloud Foundation"
    }
  },
  "host" : "sfo-vcf01.rainpole.io",
  "basePath" : "/",
  "tags" : [ {
    "name" : "Certificates",
    "description" : "APIs for managing Certificates"
  }, {
    "name" : "Network Pools",
    "description" : "APIs for managing Network Pools"
  }, {
    "name" : "ProxyConfiguration",
    "description" : "APIs for managing Proxy Configuration"
  }, {
    "name" : "vRSLCM",
    "description" : "APIs for managing vRealize Suite Lifecycle Manager"
  }, {
    "name" : "Trusted Certificates",
    "description" : "APIs for managing Trusted Certificates"
  }, {
    "name" : "Tasks",
    "description" : "APIs for managing Tasks"
  }, {
    "name" : "System",
    "description" : "APIs for managing System"
  }, {
    "name" : "CEIP",
    "description" : "APIs for managing CEIP status"
  }, {
    "name" : "Users",
    "description" : "APIs for managing Users"
  }, {
    "name" : "vRLI",
    "description" : "APIs for managing vRealize Log Insight"
  }, {
    "name" : "VersionAliasesForBundleComponentType",
    "description" : "APIs for managing Version Alias Configuration"
  }, {
    "name" : "Upgradables",
    "description" : "APIs for managing Upgradables"
  }, {
    "name" : "Upgrades",
    "description" : "APIs for managing Upgrades"
  }, {
    "name" : "vCenters",
    "description" : "APIs for managing vCenters"
  }, {
    "name" : "system",
    "description" : "APIs for managing DNS & NTP configuration"
  }, {
    "name" : "Hosts",
    "description" : "APIs for managing Hosts"
  }, {
    "name" : "NsxTEdgeClusters",
    "description" : "APIs for managing NSX-T Edge Clusters"
  }, {
    "name" : "DepotSettings",
    "description" : "APIs for managing Depot Settings"
  }, {
    "name" : "Releases",
    "description" : "APIs for managing Releases"
  }, {
    "name" : "VasaProviders",
    "description" : "APIs for managing VASA Providers"
  }, {
    "name" : "AVNs",
    "description" : "APIs for managing Solutions Networking (Application Virtual Networks)"
  }, {
    "name" : "NSX-T Clusters",
    "description" : "APIs for managing NSX-T Clusters"
  }, {
    "name" : "Manifests",
    "description" : "APIs for managing LCM Manifests"
  }, {
    "name" : "VcfServices",
    "description" : "APIs for managing VCF Services"
  }, {
    "name" : "Clusters",
    "description" : "APIs for managing Clusters"
  }, {
    "name" : "Tokens",
    "description" : "APIs for managing Access and Refresh Token"
  }, {
    "name" : "vROPs",
    "description" : "APIs for managing vRealize Operations"
  }, {
    "name" : "Resource Functionalities",
    "description" : "APIs for managing Resource Functionalities"
  }, {
    "name" : "Domains",
    "description" : "APIs for managing Domains"
  }, {
    "name" : "BackupRestore",
    "description" : "APIs for managing Backups and Restore"
  }, {
    "name" : "PSCs",
    "description" : "APIs for managing PSCs"
  }, {
    "name" : "WSA",
    "description" : "APIs for managing Workspace ONE Access for vRealize"
  }, {
    "name" : "Resource Warnings",
    "description" : "APIs for managing Resource Warnings"
  }, {
    "name" : "Bundles",
    "description" : "APIs for managing Bundles"
  }, {
    "name" : "FIPS mode details",
    "description" : "APIs for getting FIPS mode details"
  }, {
    "name" : "SddcManagers",
    "description" : "APIs for managing SDDC Managers"
  }, {
    "name" : "SOS",
    "description" : "APIs for managing SOS"
  }, {
    "name" : "Credentials",
    "description" : "APIs for managing Credentials"
  }, {
    "name" : "License Keys",
    "description" : "APIs for managing License Keys"
  }, {
    "name" : "Personalities",
    "description" : "APIs for managing Personalities"
  }, {
    "name" : "SystemPrechecks",
    "description" : "APIs for managing System Prechecks"
  }, {
    "name" : "vSANHealthCheck",
    "description" : "APIs for managing vSAN health checks"
  }, {
    "name" : "SDDC",
    "description" : "APIs for managing SDDC. The /v1/sddcs APIs are available only on the Cloud Builder appliance."
  }, {
    "name" : "Identity Providers",
    "description" : "APIs for managing Identity Providers"
  }, {
    "name" : "vRA",
    "description" : "APIs for managing vRealize Automation"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/v1/avns" : {
      "get" : {
        "tags" : [ "AVNs" ],
        "summary" : "Fetches all AVNs",
        "description" : "Returns all matching AVNs",
        "operationId" : "getAllAvns",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "regionType",
          "in" : "query",
          "description" : "Pass an optional AVN region type matching either Region-A or X-Region",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns the list of all matching AVNs",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Avn"
              }
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "AVNs" ],
        "summary" : "Create AVNs",
        "operationId" : "createAvns",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "avnsCreationSpec",
          "description" : "Avn creation data",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AvnsCreationSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "202" : {
            "description" : "Accepted",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/avns/validations" : {
      "post" : {
        "tags" : [ "AVNs" ],
        "summary" : "Validate AVN Creation Spec",
        "description" : "Returns Validation report",
        "operationId" : "validateAvns",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "avnsCreationSpec",
          "description" : "Provide the spec to create the AVNs",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AvnsCreationSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Validation of AVN Creation spec completed",
            "schema" : {
              "$ref" : "#/definitions/Validation"
            }
          },
          "500" : {
            "description" : "Unexpected error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/backups/tasks" : {
      "post" : {
        "tags" : [ "BackupRestore" ],
        "summary" : "Trigger backup",
        "operationId" : "backupTasks",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "backupsSpec",
          "description" : "backupsSpec",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BackupSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/BackupTask"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "202" : {
            "description" : "Accepted",
            "schema" : {
              "$ref" : "#/definitions/BackupTask"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/bundles" : {
      "get" : {
        "tags" : [ "Bundles" ],
        "summary" : "Get the Bundles",
        "description" : "Get all Bundles i.e uploaded bundles and also bundles available via depot access.",
        "operationId" : "getBundles",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "productType",
          "in" : "query",
          "description" : "The type of the product",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "isCompliant",
          "in" : "query",
          "description" : "Is compliant with the current VCF version",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "bundleType",
          "in" : "query",
          "description" : "The type of the bundle",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/PageOfBundle"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Bundles" ],
        "summary" : "Upload a Bundle",
        "description" : "Upload Bundle to SDDC Manager. Used when you do not have internet connectivity for downloading bundles from VMWare/VxRail to SDDC Manager. The Bundles are manually downloaded from Depot using Bundle Transfer utility",
        "operationId" : "uploadBundle",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "bundleUploadSpec",
          "description" : "Bundle Upload Specification",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BundleUploadSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "202" : {
            "description" : "Accepted",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/bundles/" : {
      "patch" : {
        "tags" : [ "Bundles" ],
        "summary" : "Update software compatibility sets for Bundles",
        "description" : "Update software compatibility sets for Bundles",
        "operationId" : "updateBundleCompatibilitySets",
        "consumes" : [ "application/json" ],
        "produces" : [ "*/*" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "bundleUpdateSpec",
          "description" : "Bundle Update Specification",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BundleUpdateSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/bundles/domains/{id}" : {
      "get" : {
        "tags" : [ "Bundles" ],
        "summary" : "Get bundles for skip upgrade a domain from current version to target version.",
        "operationId" : "getBundlesForSkipUpgradeUsingGET",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Domain ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "targetVersion",
          "in" : "query",
          "description" : "[Deprecated] Target domain VCF version",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/PageOfBundle"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Domain not found with given ID.",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/bundles/{id}" : {
      "get" : {
        "tags" : [ "Bundles" ],
        "summary" : "Get a Bundle",
        "description" : "Get a Bundle",
        "operationId" : "getBundle",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Bundle ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Bundle"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Bundle Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Bundles" ],
        "summary" : "Update a Bundle for downloading from depot",
        "description" : "Update a Bundle for scheduling/triggering download. Only one download can triggered for a Bundle.",
        "operationId" : "updateBundle",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Bundle ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "bundleUpdateSpec",
          "description" : "Bundle Update Specification",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BundleUpdateSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "202" : {
            "description" : "Accepted",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/certificate-authorities" : {
      "get" : {
        "tags" : [ "Certificates" ],
        "summary" : "Get certificate authorities information",
        "description" : "Get certificate authorities information",
        "operationId" : "getCertificateAuthorities",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/PageOfCertificateAuthority"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Certificates" ],
        "summary" : "Create a certificate authority",
        "description" : "Creates a certificate authority. This is required to generate signed certificates by supporting CAs.",
        "operationId" : "createCertificateAuthority",
        "consumes" : [ "application/json" ],
        "produces" : [ "*/*" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "certificateAuthorityCreationSpec",
          "description" : "certificateAuthorityCreationSpec",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CertificateAuthorityCreationSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "object"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Certificates" ],
        "summary" : "Configure existing certificate authority",
        "description" : "Configure existing certificate authority",
        "operationId" : "configureCertificateAuthority",
        "consumes" : [ "application/json" ],
        "produces" : [ "*/*" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "certificateAuthoritySpec",
          "description" : "certificateAuthoritySpec",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CertificateAuthorityCreationSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "object"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/certificate-authorities/{caType}" : {
      "delete" : {
        "tags" : [ "Certificates" ],
        "summary" : "Deletes CA configuration file",
        "description" : "Deletes CA configuration file",
        "operationId" : "DeleteCaConfiguration",
        "consumes" : [ "application/json" ],
        "produces" : [ "*/*" ],
        "parameters" : [ {
          "name" : "caType",
          "in" : "path",
          "description" : "The CA type",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "object"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "204" : {
            "description" : "No content",
            "schema" : {
              "type" : "object"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/certificate-authorities/{id}" : {
      "get" : {
        "tags" : [ "Certificates" ],
        "summary" : "Get certificate authority information",
        "description" : "Get certificate authority information",
        "operationId" : "getCertificateAuthorityById",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "CA type",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CertificateAuthority"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/clusters" : {
      "get" : {
        "tags" : [ "Clusters" ],
        "summary" : "Get the Clusters",
        "operationId" : "getClusters",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "isStretched",
          "in" : "query",
          "description" : "isStretched",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/PageOfCluster"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Clusters" ],
        "summary" : "Create a Cluster and add to an existing Domain",
        "operationId" : "createCluster",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "clusterCreationSpec",
          "description" : "Cluster Creation Spec",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ClusterCreationSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "202" : {
            "description" : "Accepted",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/clusters/tags" : {
      "get" : {
        "tags" : [ "Clusters" ],
        "summary" : "Get Tags assigned to Clusters",
        "operationId" : "getTagsAssignedToClusters",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/PageOfTagsForResource"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/clusters/validations" : {
      "post" : {
        "tags" : [ "Clusters" ],
        "summary" : "Validate the input specification for Cluster creation",
        "operationId" : "validateClustersOperations",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "clusterCreationSpec",
          "description" : "Cluster creation specification",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ClusterCreationSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Validation"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/clusters/{clusterId}/datastores" : {
      "get" : {
        "tags" : [ "Clusters" ],
        "summary" : "Get the list of all datastores associated with the cluster.",
        "operationId" : "getClusterDatastores",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "clusterId",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Datastore"
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Cluster Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/clusters/{clusterId}/datastores/queries/{queryId}" : {
      "get" : {
        "tags" : [ "Clusters" ],
        "summary" : "Get Datastore query response",
        "operationId" : "getDatastoreQueryResponse",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "clusterId",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "queryId",
          "in" : "path",
          "description" : "Query ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/DatastoreQueryResponse"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Query Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/clusters/{clusterId}/datastores/validation" : {
      "post" : {
        "tags" : [ "Clusters" ],
        "summary" : "Validate the input spec for mounting vSAN remote datastore to an existing cluster",
        "operationId" : "validateVsanRemoteDatastore",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "clusterId",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "datastoreMountSpec",
          "description" : "Datastore Mount Spec",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DatastoreMountSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Validation"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/clusters/{clusterId}/hosts/queries/{queryId}" : {
      "get" : {
        "tags" : [ "Clusters" ],
        "summary" : "Get query response",
        "operationId" : "getHostQueryResponse",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "clusterId",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "queryId",
          "in" : "path",
          "description" : "Query ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/HostQueryResponse"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Query Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/clusters/{clusterId}/vdses" : {
      "get" : {
        "tags" : [ "Clusters" ],
        "summary" : "Get the list of VDSes of a cluster.",
        "operationId" : "getVdses",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "clusterId",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Vds"
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Cluster Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/clusters/{id}" : {
      "get" : {
        "tags" : [ "Clusters" ],
        "summary" : "Get a Cluster",
        "operationId" : "getCluster",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Cluster"
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Cluster not found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Clusters" ],
        "summary" : "Delete a Cluster from a Domain if it has been previously initialized for deletion",
        "operationId" : "deleteCluster",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "202" : {
            "description" : "Accepted",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Clusters" ],
        "summary" : "Update a Cluster by adding or removing Hosts, Stretching a standard vSAN cluster, Unstretching a stretched cluster or by marking for deletion",
        "operationId" : "updateCluster",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "clusterUpdateSpec",
          "description" : "Cluster Update Data",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ClusterUpdateSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "202" : {
            "description" : "Accepted",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/clusters/{id}/datastores" : {
      "post" : {
        "tags" : [ "Clusters" ],
        "summary" : "Mount a datastore to a cluster",
        "operationId" : "addDatastoreToCluster",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "datastoreMountSpec",
          "description" : "Datastore Mount Spec",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DatastoreMountSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "202" : {
            "description" : "Accepted",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/clusters/{id}/datastores/criteria" : {
      "get" : {
        "tags" : [ "Clusters" ],
        "summary" : "Get all datastore criteria",
        "operationId" : "getDatastoresCriteria",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/PageOfDatastoreCriterion"
            }
          }
        }
      }
    },
    "/v1/clusters/{id}/datastores/criteria/{name}" : {
      "get" : {
        "tags" : [ "Clusters" ],
        "summary" : "Get a criterion to query for datastore",
        "operationId" : "getDatastoreCriterion",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Criteria Name",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/DatastoreCriterion"
            }
          },
          "404" : {
            "description" : "Criterion Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/clusters/{id}/datastores/queries" : {
      "post" : {
        "tags" : [ "Clusters" ],
        "summary" : "Post a datastore query",
        "operationId" : "postDatastoreQuery",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "dsCriterion",
          "description" : "dsCriterion",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DatastoreCriterion"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/DatastoreQueryResponse"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/clusters/{id}/datastores/{datastoreId}" : {
      "delete" : {
        "tags" : [ "Clusters" ],
        "summary" : "Unmount a datastore from a cluster",
        "operationId" : "removeDatastoreFromCluster",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "datastoreId",
          "in" : "path",
          "description" : "Datastore ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Accepted",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "202" : {
            "description" : "Accepted",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/clusters/{id}/hosts/criteria" : {
      "get" : {
        "tags" : [ "Clusters" ],
        "summary" : "Get all host criteria",
        "operationId" : "getHostCriteria",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/PageOfHostCriterion"
            }
          }
        }
      }
    },
    "/v1/clusters/{id}/hosts/criteria/{name}" : {
      "get" : {
        "tags" : [ "Clusters" ],
        "summary" : "Get a criterion to query for host",
        "operationId" : "getHostCriterion",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Criteria Name",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/HostCriterion"
            }
          },
          "404" : {
            "description" : "Criterion Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/clusters/{id}/hosts/queries" : {
      "post" : {
        "tags" : [ "Clusters" ],
        "summary" : "Post a host query",
        "operationId" : "postHostQuery",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "hostCriterion",
          "description" : "hostCriterion",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/HostCriterion"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/HostQueryResponse"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/clusters/{id}/tags" : {
      "get" : {
        "tags" : [ "Clusters" ],
        "summary" : "Get Tags assigned to Cluster",
        "operationId" : "getTagsAssignedToCluster",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/PageOfTag"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Clusters" ],
        "summary" : "Assign Tags to Cluster",
        "operationId" : "assignTagsToExistingCluster",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "tagsSpec",
          "description" : "Tags Spec",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TagsSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/TagAssignmentResult"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Clusters" ],
        "summary" : "Remove Tags From Cluster",
        "operationId" : "removeTagsFromExistingCluster",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "tagsSpec",
          "description" : "Tags Spec",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/TagsSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/TagAssignmentResult"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/clusters/{id}/tags/assignable-tags" : {
      "get" : {
        "tags" : [ "Clusters" ],
        "summary" : "get assignable Tags to Cluster",
        "operationId" : "assignableTagsToCluster",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/PageOfTag"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/clusters/{id}/tags/tag-manager" : {
      "get" : {
        "tags" : [ "Clusters" ],
        "summary" : "Get Cluster Tag Manager Url",
        "operationId" : "getClusterTagManagerUrl",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/TagManagerModel"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/clusters/{id}/validations" : {
      "post" : {
        "tags" : [ "Clusters" ],
        "summary" : "Validate input specification for updating given Cluster",
        "operationId" : "validateClusterOperations",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Cluster ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "clusterUpdateSpec",
          "description" : "clusterUpdateSpec",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ClusterUpdateSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Validation"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/credentials" : {
      "get" : {
        "tags" : [ "Credentials" ],
        "summary" : "Get the Credentials",
        "description" : "Get the Credentials",
        "operationId" : "getCredentials",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "resourceName",
          "in" : "query",
          "description" : "The name of the resource",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "resourceIp",
          "in" : "query",
          "description" : "The IP address of the resource",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "resourceType",
          "in" : "query",
          "description" : "The type of the resource. One among: ESXI, VCENTER, PSC, NSX_MANAGER, NSX_CONTROLLER, NSX_EDGE, NSXT_MANAGER, NSXT_EDGE, VRLI, VROPS, VRA, WSA, VRSLCM, VXRAIL_MANAGER, BACKUP",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "domainName",
          "in" : "query",
          "description" : "The name of the domain to which the resource belongs to (may be null in case there is no associated domain)",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "pageNumber",
          "in" : "query",
          "description" : "The page number (must be a positive number), starts with 0",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "pageSize",
          "in" : "query",
          "description" : "The page size (must be a positive number, 0 as page size returns all records in one page",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "accountType",
          "in" : "query",
          "description" : "Type of the account that needs to be fetched by filtering",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/PageOfCredential"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Credentials" ],
        "summary" : "Update or rotate passwords for a list of resources",
        "description" : "Update passwords for given list of resources by supplying new passwords or rotate the passwords using system generated passwords",
        "operationId" : "updateOrRotatePasswords",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "credentialsUpdateSpec",
          "description" : "credentialsUpdateSpec",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CredentialsUpdateSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "202" : {
            "description" : "Accepted",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/credentials/expirations" : {
      "post" : {
        "tags" : [ "Credentials" ],
        "summary" : "Fetch expiration details of passwords for a list of credentials",
        "description" : "Fetch expiration details of passwords for a list of credentials",
        "operationId" : "fetchPasswordExpiration",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "credentialsExpirationSpec",
          "description" : "credentialsExpirationSpec",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CredentialsExpirationSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CredentialsExpiration"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "202" : {
            "description" : "Accepted",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "429" : {
            "description" : "Too many requests",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/credentials/expirations/{id}" : {
      "get" : {
        "tags" : [ "Credentials" ],
        "summary" : "Get the status of the password expiration fetch",
        "description" : "Get the status of the password expiration fetch",
        "operationId" : "getExpirationsForPasswords",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The expiration fetch workflow ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CredentialsValidation"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal server error"
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/credentials/tasks" : {
      "get" : {
        "tags" : [ "Credentials" ],
        "summary" : "Fetch the credentials tasks",
        "description" : "Fetch all credentials tasks in reverse chronological order",
        "operationId" : "getCredentialsTasks",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "The number of elements to be returned in the result",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/PageOfCredentialsTask"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/credentials/tasks/{id}" : {
      "get" : {
        "tags" : [ "Credentials" ],
        "summary" : "Fetch a credentials task",
        "description" : "Fetch credentials task for a given ID",
        "operationId" : "getCredentialsTask",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the credentials task",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CredentialsTask"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Credentials" ],
        "summary" : "Cancel a failed credentials task for a given ID",
        "description" : "Cancel a failed credentials task for a given ID",
        "operationId" : "cancelCredentialsTask",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Task ID of the failed operation required to be cancelled",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "204" : {
            "description" : "No content",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Credentials" ],
        "summary" : "Retry a failed credentials task for a given ID",
        "description" : "Retry a failed credentials task for a given ID",
        "operationId" : "retryCredentialsTask",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "credentialsUpdateSpec",
          "description" : "credentialsUpdateSpec",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CredentialsUpdateSpec"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "Task ID of the failed operation that is to be retried",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "202" : {
            "description" : "Accepted",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/credentials/tasks/{id}/resource-credentials" : {
      "get" : {
        "tags" : [ "Credentials" ],
        "summary" : "Fetch resource credentials for a given credentials task ID",
        "description" : "Fetch resource credentials for a given credentials task ID",
        "operationId" : "getCredentialsTaskResourcesCredentials",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the credentials task",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ResourceCredentials"
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/credentials/tasks/{id}/subtasks/{subtaskId}" : {
      "get" : {
        "tags" : [ "Credentials" ],
        "summary" : "Fetch details of a subtask for a given credentials task ID and sub-task ID.",
        "description" : "Fetch details of a subtask for a given credentials task ID and sub-task ID.",
        "operationId" : "getCredentialsSubTask",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the credentials task",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "subtaskId",
          "in" : "path",
          "description" : "The ID of the credentials sub-task",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CredentialsTask"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/credentials/{id}" : {
      "get" : {
        "tags" : [ "Credentials" ],
        "summary" : "Get Credential for the given ID",
        "description" : "Get Credential for the given ID",
        "operationId" : "getCredential",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the credential",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Credential"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/domains" : {
      "get" : {
        "tags" : [ "Domains" ],
        "summary" : "Get the Domains",
        "operationId" : "getDomains",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "type",
          "in" : "query",
          "description" : "The type of the domain",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/PageOfDomain"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Domains" ],
        "summary" : "Create a Domain",
        "operationId" : "createDomain",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "domainCreationSpec",
          "description" : "Domain creation data",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DomainCreationSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "202" : {
            "description" : "Accepted",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/domains/tags" : {
      "get" : {
        "tags" : [ "Domains" ],
        "summary" : "Get Tags assigned to Domains",
        "operationId" : "getTagsAssignedToDomains",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/PageOfTagsForResource"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/domains/validations" : {
      "post" : {
        "tags" : [ "Domains" ],
        "summary" : "Validate the input spec for domains operations",
        "operationId" : "validateDomainsOperations",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "domainCreationSpec",
          "description" : "Domain Creation Spec",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DomainCreationSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Validation"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "InternalServerError",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/domains/{domainId}/clusters/criteria" : {
      "get" : {
        "tags" : [ "Domains" ],
        "summary" : "Get all cluster criteria",
        "operationId" : "getClusterCriteria",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "domainId",
          "in" : "path",
          "description" : "Domain ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/PageOfClusterCriterion"
            }
          }
        }
      }
    },
    "/v1/domains/{domainId}/clusters/criteria/{name}" : {
      "get" : {
        "tags" : [ "Domains" ],
        "summary" : "Get a criterion to query for cluster",
        "operationId" : "getClusterCriterion",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "domainId",
          "in" : "path",
          "description" : "Domain ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Criteria Name",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ClusterCriterion"
            }
          },
          "404" : {
            "description" : "Criterion Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/domains/{domainId}/clusters/queries" : {
      "post" : {
        "tags" : [ "Domains" ],
        "summary" : "Post clusters query",
        "operationId" : "postClustersQuery",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "domainId",
          "in" : "path",
          "description" : "Domain ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "clusterCriterion",
          "description" : "clusterCriterion",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ClusterCriterion"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ClusterQueryResponse"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/domains/{domainId}/clusters/queries/{queryId}" : {
      "get" : {
        "tags" : [ "Domains" ],
        "summary" : "Get clusters query response",
        "operationId" : "getClustersQueryResponse",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "domainId",
          "in" : "path",
          "description" : "Domain ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "queryId",
          "in" : "path",
          "description" : "Query ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ClusterQueryResponse"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Query Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/domains/{domainId}/clusters/{clusterName}/queries" : {
      "post" : {
        "tags" : [ "Domains" ],
        "summary" : "Post a cluster query",
        "operationId" : "postClusterQuery",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "domainId",
          "in" : "path",
          "description" : "Domain ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "Cluster Name",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "clusterCriterion",
          "description" : "clusterCriterion",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ClusterCriterion"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ClusterQueryResponse"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/domains/{domainId}/clusters/{clusterName}/queries/{queryId}" : {
      "get" : {
        "tags" : [ "Domains" ],
        "summary" : "Get cluster query response",
        "operationId" : "getClusterQueryResponse",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "domainId",
          "in" : "path",
          "description" : "Domain ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "clusterName",
          "in" : "path",
          "description" : "Cluster Name",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "queryId",
          "in" : "path",
          "description" : "Query ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ClusterQueryResponse"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Query Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/domains/{domainId}/datastores/criteria" : {
      "get" : {
        "tags" : [ "Domains" ],
        "summary" : "Get all datastore criteria",
        "operationId" : "getDatastoresCriteria_1",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "domainId",
          "in" : "path",
          "description" : "Domain ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/PageOfDatastoreCriterion"
            }
          }
        }
      }
    },
    "/v1/domains/{domainId}/datastores/criteria/{name}" : {
      "get" : {
        "tags" : [ "Domains" ],
        "summary" : "Get a criterion to query for datastore",
        "operationId" : "getDatastoreCriterion_1",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "domainId",
          "in" : "path",
          "description" : "Domain ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "path",
          "description" : "Criteria Name",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/DatastoreCriterion"
            }
          },
          "404" : {
            "description" : "Criterion Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/domains/{domainId}/datastores/queries" : {
      "post" : {
        "tags" : [ "Domains" ],
        "summary" : "Post a datastore query",
        "operationId" : "postDatastoreQuery_1",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "domainId",
          "in" : "path",
          "description" : "Domain ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "dsCriterion",
          "description" : "dsCriterion",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DatastoreCriterion"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/DatastoreQueryResponse"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/domains/{domainId}/datastores/queries/{queryId}" : {
      "get" : {
        "tags" : [ "Domains" ],
        "summary" : "Get Datastore query response",
        "operationId" : "getDatastoreQueryResponse_1",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "domainId",
          "in" : "path",
          "description" : "Domain ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "queryId",
          "in" : "path",
          "description" : "Query ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/DatastoreQueryResponse"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Query Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/domains/{domainId}/health-checks" : {
      "get" : {
        "tags" : [ "vSANHealthCheck" ],
        "summary" : "Get vSAN health check status",
        "description" : "Get vSAN health check status for all cluster on the domain",
        "operationId" : "getHealthCheckQuery",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "domainId",
          "in" : "path",
          "description" : "Domain ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Status of health check to filter by",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/HealthCheckQueryResult"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "202" : {
            "description" : "Accepted",
            "schema" : {
              "$ref" : "#/definitions/HealthCheckQueryResult"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "vSANHealthCheck" ],
        "summary" : "Update vSAN health check status",
        "description" : "Update vSAN health check status for domain",
        "operationId" : "setHealthCheckStatus",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "domainId",
          "in" : "path",
          "description" : "Domain ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "healthCheckUpdateSpec",
          "description" : "Health check update spec",
          "required" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/HealthCheckSpec"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/HealthCheckTask"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "202" : {
            "description" : "Accepted",
            "schema" : {
              "$ref" : "#/definitions/HealthCheckTask"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/domains/{domainId}/health-checks/queries/{queryId}" : {
      "get" : {
        "tags" : [ "vSANHealthCheck" ],
        "summary" : "Get vSAN health check status by Query Id",
        "description" : "Get vSAN health check status for a given Query Id",
        "operationId" : "getHealthCheckStatus",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "domainId",
          "in" : "path",
          "description" : "Domain ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "queryId",
          "in" : "path",
          "description" : "Query ID",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/HealthCheckQueryResult"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/domains/{domainId}/health-checks/tasks/{taskId}" : {
      "get" : {
        "tags" : [ "vSANHealthCheck" ],
        "summary" : "Get vSAN health check update task status",
        "description" : "Get vSAN health check update task status for a given task Id",
        "operationId" : "getHealthCheckStatusTask",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "domainId",
          "in" : "path",
          "description" : "Domain ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "taskId",
          "in" : "path",
          "description" : "Health check task id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/HealthCheckTask"
            }
          },
          "400" : {
            "description" : "Bad Request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/v1/domains/{domainName}/certificates" : {
      "get" : {
        "tags" : [ "Certificates" ],
        "summary" : "Get latest generated certificate(s) in a domain.",
        "description" : "Get latest generated certificate(s) in a domain.",
        "operationId" : "getCertificates",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "domainName",
          "in" : "path",
          "description" : "Domain ID or Name",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/PageOfCertificate"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Certificates" ],
        "summary" : "Generate certificate(s) for the selected resource(s) in a domain",
        "description" : "Generate certificate(s) for the selected resource(s) in a domain. CA must be configured and CSR must be generated beforehand.",
        "operationId" : "generateCertificates",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "domainName",
          "in" : "path",
          "description" : "Domain ID or Name",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "certificateGenerationSpec",
          "description" : "certificateGenerationSpec",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CertificatesGenerationSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "202" : {
            "description" : "Accepted",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Certificates" ],
        "summary" : "Replace certificate(s) for the selected resource(s) in a domain",
        "description" : "Replace certificate(s) for the selected resource(s) in a domain",
        "operationId" : "replaceCertificates",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "domainName",
          "in" : "path",
          "description" : "Domain ID or Name",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "certificateOperationSpec",
          "description" : "certificateOperationSpec",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CertificateOperationSpec"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "202" : {
            "description" : "Accepted",
            "schema" : {
              "$ref" : "#/definitions/Task"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "409" : {
            "description" : "Conflict",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "deprecated" : true
      }
    },
    "/v1/domains/{domainName}/certificates/uploads" : {
      "put" : {
        "tags" : [ "Certificates" ],
        "summary" : "Upload certificates to the certificate store",
        "description" : "Upload certificates to the certificate store",
        "operationId" : "uploadCertificates",
        "consumes" : [ "multipart/form-data" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "domainName",
          "in" : "path",
          "description" : "Domain ID or Name",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "file",
          "in" : "formData",
          "description" : "file",
          "required" : true,
          "type" : "file"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "object"
            }
          },
          "400" : {
            "description" : "Bad request.",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        },
        "deprecated" : true
      }
    },
    "/v1/domains/{domainName}/csrs" : {
      "get" : {
        "tags" : [ "Certificates" ],
        "summary" : "Get available CSR(s) in json format",
        "description" : "Get available CSR(s) in json format",
        "operationId" : "getCSRs",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "domainName",
          "in" : "path",
          "description" : "Domain ID or Name",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/PageOfCsr"
            }
          },
          "500" : {
            "description" : "Internal server error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Certificates" ],
        "summary" : "Generate CSR(s)",
        "description" : "Generate CSR(s) for the selected resource(s) in the domain.\n\n*Warning:*\n_Avoid using wildcard certificates. Instead, use subdomain-specific certificates that are rotated often. A compromised wildcard certificate can lead to security repercussions_",
[...]
